name: feature-pipeline-catalogue-caller
on: [push]
#giving permission for curl to call githubapi to make chnages to the repo's commit's status-----
permissions:
  contents: read
  statuses: write
  security-events: read
jobs:
  feature-pipeline:
    if : github.ref != 'refs/heads/main' 
    uses: actions-penke-van-1/reusable-workflows/.github/workflows/feature-nodejs-pipeline.yaml@main
    with:
      project: roboshop
      component: catalogue
      environment: dev
    secrets: inherit  
  dev-pipeline:
    if : github.ref == 'refs/heads/main' 
    uses: actions-penke-van-1/reusable-workflows/.github/workflows/dev-nodejs-pipeline.yaml@main
    with:
      project: roboshop
      component: catalogue
      environment: dev
    secrets: inherit  
