name: NON-PROD Pipeline
on: 
  workflow_dispatch:
    inputs:
      version:
        description: "Please enter SHA code"
        required: true
        type: string
      environment:
        description: "Please select environment"
        type: choice
        options:
          - qa
          - uat
          - sit
        required: true
        default: uat
# adding concurrency control so only  one deploy runs at a time - Helm Lock isue- NO parallel hel upgrades        
concurrency:
  group: roboshop-catalogue-nonprod
  cancel-in-progress: false
permissions:
  contents: read
  statuses: write
  security-events: read
jobs: 
  non-prod-pipeline:
    if: github.ref == 'refs/heads/main'
    uses: actions-penke-van-1/reusable-workflows/.github/workflows/non-prod-pipeline.yaml@main
    with:
      version: ${{ inputs.version }}
      environment: ${{ inputs.environment }}
    secrets: inherit